:root {
    font-size: 18px;
}

* {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; width: 100vw;
    margin:0;
    padding: 0;
}

.space {
    height: 3em;
    background-color: white;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 0.75rem;
}

img {
    pointer-events: none;
}

button {
    cursor: pointer;
    border-radius: 0;
    border: none;
    padding : 8px 16px;
    margin: 2px 0;
    background-color: #042936;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}
button:hover {
    scale: 1.03;
    transition: 0.3s all cubic-bezier(0,0,0,1);
}
button:active {
    transform: scale(0.97);
    transition: 0.1s all cubic-bezier(0,.02,0,1.01);
}

header {
    width: 100vw;
    height: 3em;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 2000;
}
header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header > * {
    font-size: 1.25rem;
}
header > .left {
    width: fit-content;
    margin: 1em;
}

header > .right {
    width: fit-content;
    justify-content: flex-end;
    margin: 1em;
}
header > .right > a {
    padding: 0.25em 0.5em;
    border-radius: 10px;
    margin: 0 0.5em;
    color: #042936;
    text-decoration: none;
}
header > .right > a:hover {
    color: whitesmoke;
    background-color: #042936;
    transition: 0.2s all cubic-bezier(0,0,0,1);
}
content {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 3em;
}

content > .cover {
    aspect-ratio: 3/1;
    width: 100vw;
}

.intro {
    width: 95vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d2d2d2;
    border-radius: 20px;
}
.intro > img {
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}
.intro > .desc {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
}

/* SNS リスト */
.sns {
    max-width: 95vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    gap: .5em;
    margin: 1em;
    list-style-type: none !important;
}

/* SNS ボタン */
.sns > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    padding: 0 0.3em;
    gap: .1em;
    border-radius: 10px;
    overflow: hidden;
    color: #000000;
    border: solid 2px #d2d2d2;
    text-decoration: none;
}
.sns > a > img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    fill: #000000;
    filter: grayscale(100%);
}

.sns > a:hover {
    transform: scale(1.03);
    transition: all 0.3s cubic-bezier(0,0,0,1);
}
.sns > a:active {
    transform: scale(0.97);
    transition: all 0.1s cubic-bezier(0,0,0,1);
}

.work-container {
    min-height: 10em;
    width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0.5em 0;
}

.work-container > .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 15em;
    height: 100%;
    gap: .5em;
    border-radius: 20px;
    text-decoration: none;
    border-radius: 10px;
    border: solid 2px #d2d2d2;
}
.work-container > .item > img {
    height:auto;
    width: 100%;
    max-height: 7em;
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.work-container > .item > .title {
    text-decoration: none;
}
.work-container > .item:hover {
    transform: scale(1.03);
    transition: all 0.3s cubic-bezier(0,0,0,1);
}
.work-container > .item:active {
    transform: scale(0.97);
    transition: all 0.1s cubic-bezier(0,0,0,1);
}


.post-container {
    min-height: 11em;
    width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0.5em 0;
}

.post-container > .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 15em;
    height: 10em;
    gap: .5em;
    border-radius: 20px;
    text-decoration: none;
    border-radius: 10px;
    border: solid 2px #d2d2d2;
}
.post-container > .item > img {
    height:auto;
    width: 100%;
    max-height: 7em;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-container > .item > .title {
    padding: 0 0.5em;
    text-decoration: none;
}
.post-container > .item:hover {
    transform: scale(1.03);
    transition: all 0.3s cubic-bezier(0,0,0,1);
}
.post-container > .item:active {
    transform: scale(0.97);
    transition: all 0.1s cubic-bezier(0,0,0,1);
}

.link-container {
    height: fit-content;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    padding: 0.5em 0;
}

.link-container > .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 5em;
    gap: .5em;
    border-radius: 20px;
    text-decoration: none;
    border-radius: 10px;
    border: solid 2px #d2d2d2;
}

.link-container > .item > img {
    height:100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.link-container > .item > .title {
    flex: 1;
    padding: 0 0.2em;
    text-decoration: none;
}
.link-container > .item:hover {
    transform: scale(1.01);
    transition: all 0.3s cubic-bezier(0,0,0,1);
}
.link-container > .item:active {
    transform: scale(0.99);
    transition: all 0.1s cubic-bezier(0,0,0,1);
}

footer {
    margin:0;
    padding:0;
    width: 100vw;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #042936;
    color: whitesmoke;
}