:root {
    font-size: 18px;
}

* {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; width: 100vw;
    margin:0;
    padding: 0;
}


h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}

button {
        cursor: pointer;
        border-radius: 0;
        border: none;
        padding : 8px 16px;
        margin: 2px 0;
        background-color: #042936;
        color: white;
        font-size: 1rem;
}
button:active {
    transform: scale(0.8);
    transition: 0.1s all cubic-bezier(0,.02,0,1.01);
}

header {
    width: 100vw;
    height: 3em;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    background-color: whitesmoke;
}
header > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}
header > * {
    font-size: 1.25rem;
}
header > .left {
    margin: 1em;
}

header > .right {
    justify-content: flex-end;
    margin: 1em;
}
header > .right > a {
    padding: 0.25em 0.5em;
    border-radius: 10px;
    margin: 0 0.5em;
    color: #042936;
    text-decoration: none;
}
header > .right > a:hover {
    color: whitesmoke;
    background-color: #042936;
    transition: 0.2s all cubic-bezier(0,0,0,1);
}

.cover {
    aspect-ratio: 3/1;
    width: 100vw;
}

div.main {
    padding: 1vw 1vh;
    border-radius: 10px;
    width: 95vw;
    height: 91vh;
    background-color: rgba(0,0,0, 0.7);;
    opacity: 1;
    animation: body-appearance 0.5s forwards ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    color: whitesmoke;
}

div.main.primary {
    z-index: 10;
}

.profile {
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.profile > img {
    height: 80%;
    width: auto;
    border-radius: 100%;
    pointer-events: none;
    user-select: none;
}

div.main.secondary {
    z-index: 10;
    display:none;
}

.main-text {
    white-space: pre-line;
}

.projects {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
}
.projects > button {
    height: 60px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    display:flex;
    margin: 0.1rem 0;
}

.projects > button > img {
    height: 80%;
    width: auto;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
}

.hide {
    display: none;
}

#last-updated {
    z-index: 0;
    font-style: italic;
    font-size: 0.5rem;
    color: whitesmoke;
    display: block;
    position: absolute;
}

@keyframes hovering {
    0% {
        transform: translateY(0px);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.5);
    }
}

@keyframes body-appearance {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 94vh;
        opacity: 1;
    }
}